name: Spring Boot CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: maven

      - name: Run tests
        run: mvn clean test
        working-directory: ./demo

      - name: Build Jar
        run: mvn clean package -DskipTests
        working-directory: ./demo

      - name: Upload JAR
        uses: actions/upload-artifact@v4
        with:
          name: spring-jar
          path: ./demo/target/*.jar


  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: spring-jar
          path: ./build-artifact

      - name: Install SSH client
        run: sudo apt-get install -y openssh-client

      - name: Copy JAR to server via SCP
        run: |
          scp -o StrictHostKeyChecking=no ./build-artifact/*.jar ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }}:/home/${{ secrets.SERVER_USER }}/myapp.jar
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SERVER_SSH_KEY }}

      - name: Restart service on server (optional)
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_IP }} "sudo systemctl restart myapp"
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SERVER_SSH_KEY }}
